* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    cursor: url('https://cdn-icons-png.flaticon.com/512/2224/2224076.png'), pointer;
    overflow: hidden;
}

.arrow {
    position: absolute;
    transform: rotate(270deg);
}